<div class="content-area">
    <div class="content-pad"></div>
    <div class="story-wrapper">
        <div class="intro">
            <h1>透過真實故事<br>
                見證器官捐贈的巨大影響力</h1>
        </div>
        <div class="share-story">
            <button class="button">分享故事</button>
        </div>
        <div class="story-column">
            <div class="story">
                <div class="story-header">
                    <img src="assets/author2.jpg">
                    <div class="gradient"></div>
                    <div class="story-info">
                        <div class="author-info">
                            <div class="author-name">徐凡甘</div>
                            <div class="author-basic">
                                <span class="author-age">22歲</span><br>
                                <span class="author-position">台大農業經濟學系</span>
                            </div>
                        </div>
                        <p class="other-info">
                            <span class="clock">&nbsp2014年6月5日 星期四</span>
                            <span class="comment">&nbsp0 comment</span>
                        </p>
                    </div>
                </div>
                <div class="story-content">
                    <article>
                        <blockquote>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp七年前，醫生宣判我的腎臟因病毒感染而纖維化，慢性衰竭須要終身洗腎。檢驗報告上短短幾行字，卻花了我好久好長去感受並且接受它的殘酷，然後，自卑的讓虛弱成為生活習慣。不洗腎時，毒素累積在身體裡，腦袋昏沉、四肢沉重，滿嘴臭水溝的腥味，連喝水都是奢侈的幸福。我不曾因生病痛楚而哭泣，卻無法樂觀面對異樣的眼光，每當看見他人不禁流露的訝異同情，我感覺自己又死了一次。</blockquote>

                        <blockquote>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp升大學的暑假，大哥的一顆腎臟翻轉了我的生命。歷經了將近半年的檢測流程、移植手術、術後復原與追蹤治療，我就像破繭而出的蝴蝶有了羽化的翅膀，我為生命興奮的顫動身體，彷彿要從自己的皮膚迸發出來了。曾經這麼接近死亡，我和許多受贈者一樣，知道因大愛而重生的色彩是多得的，甘苦不凡的短暫生命除了珍惜，又多了份責任，即便服用抗排斥藥物增加的感染風險，也阻擋不了想把這奇蹟般的愛傳遞下去的蠢動心情。</blockquote>

                        <blockquote>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp「瞭解死亡，並為它做好準備，是我們活著所能的，最有能力的事情之一。」你知道嗎？台灣每年有超過六千名病患等待器官捐贈，卻只有三百個移植成功的案例，平均一個洗腎病患要等待二十年才有新生機會。如果不是瀕臨死亡，我不會體會到什麼叫「活著」；如果不曾一無所有，我不會擁有「知足」和「給予」的快樂；如果不是享受的呼吸空氣，我更不會再失去一切的死去後，仍在給予的富有中燦爛活著。</blockquote>
                    </article>
                    <div class="gradient"></div>
                    <p class="continue">繼續閱讀</p>
                </div>
            </div>
        </div>
    </div>
</div>