    <!-- Header -->
    <div id="header">
       <!-- Inner -->
        <div class="inner">
            <header>
                <h1>
                    <a href="#" id="logo" style="font-family:MStiffHeiHK-UltraBold; font-size:100px">器而不捨</a>
                </h1>
                <% if @welcome_page %>
                    <hr />
                    <span class="byline">一個機器人找尋新零件的故事</span>
                <% end %>
            </header>
            <% if @welcome_page %>
                <footer>
                    <a href="#banner" class="button circled scrolly">開始</a>
                </footer>
            <% end %>
        </div>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <!-- <li><%= link_to "首頁", "/" %></li> -->
                <li><%= link_to "了解器捐", "/" %>
                    <!-- <span>了解器捐</span>
                    <ul>
                        <li>
                            <span>器捐流程 &hellip;</span>
                            <ul>
                                <li><a href="#">器官捐贈者</a></li>
                                <li><a href="#">器官受贈者</a></li>
                            </ul>
                        </li>
                        <li><a href="#">法規部分</a></li>
                    </ul> -->
                </li>
                <li><%= link_to "器捐故事", story_path(@story) %></li>
                <li><%= link_to "立即簽署", register_path(@register) %></li>
            </ul>
        </nav>
    </div>