$story-height: 500px;
$header-height: 150px;
@mixin gradient-mask($gradient...) {
    background-image: -webkit-linear-gradient($gradient);
    background-image: -moz-linear-gradient($gradient);
    background-image: -o-linear-gradient($gradient);
    background-image: linear-gradient($gradient);
}

.content-area {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url('squared_metal.png');
}

.story-wrapper, .content-pad {
    margin: 10px auto;
    width: 80%;
    height: 100%;
}
.content-pad {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.4;
    z-index: 10;
}
.story-wrapper {
    position: relative;
    z-index: 1000;
}

.story-column {
    margin: 50px auto;
    width: 80%;

    .story {
        margin: 0;
        padding: 0;
        width: 100%;
        height: $story-height;
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 2px 0 10px #888888;
        font-family: "微軟正黑體", "Microsoft JhengHei", AppleGothic;

        .story-header {
            width: 100%;
            height: $header-height;
            position: relative;
            background-color: #45B19C;

            img {
                width: 250px;
                height: 100%;
                float: right;
            }
            .gradient {
                width: 250px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                /*background-image: -webkit-gradient(
                    linear, left top, right top, from(rgba(69,177,156,1)),
                    to(rgba(69,177,156,0)), color-stop(.1,#45B19C)
                );
                background-image: -moz-linear-gradient(
                    rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%
                );*/
                // background-image: -webkit-gradient(
                //     linear, left bottom, right bottom,
                //     color-stop(0.6, rgba(255, 255, 255, 0)),
                //     color-stop(1, rgba(69, 177, 155, 1))
                // );
                @include gradient-mask(right, rgba(255, 255, 255, 0) 60%, rgba(69, 177, 155, 1) 100%);
                // background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 60%, rgba(69, 177, 155, 1) 100%);
                // background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 60%, rgba(69, 177, 155, 1) 100%);
                // background-image: -webkit-linear-gradient(right, rgba(69, 177, 155, 0) 60%, rgba(69, 177, 155, 1) 100%);
                // background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 60%, rgba(69, 177, 155, 1) 100%);
                // background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 75%, rgba(69, 177, 155, 1) 100%);
            }
            .story-info {
                padding: 20px 0 0 5%;
                height: 100%;
                position: relative;
                display: inline-block;
                float: left;
                color: #ffffff;
                .author-info {
                    & div {
                        padding: 10px 20px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .author-name {
                        font-family: "微軟正黑體", "Microsoft JhengHei", AppleGothic;
                        font-size: 3em;
                        font-weight: bold;
                    }
                    .author-basic {
                        font-size: 1.2em;
                        line-height: 1.6em;
                    }
                }
                .other-info {
                    margin-top: 15px;

                    span {
                        padding: 0 2%;
                        color: #cdcdcd;

                        &.clock:before {
                            content: url("clock-2.png");
                        }
                        &.comment:before {
                            content: url("comment-2.png");
                        }
                    }
                }
            }
        }

        .story-content {
            margin: 0 auto;
            padding: 20px 5%;
            width: 100%;
            height: $story-height - $header-height;
            position: relative;
            overflow: hidden;

            article {
                margin: 20px auto;
                font-size: 1.2em;
                line-height: 1.3em;
                blockquote {
                    margin-bottom: 1em;
                    text-align: justify;
                }
            }
            .gradient {
                width: 100%;
                height: $story-height / 3;
                position: absolute;
                bottom: 0;
                @include gradient-mask(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
            }
            p.continue {
                position: absolute;
                right: 5%;
                bottom: 20px;
                color: #cdcdcd;
                cursor: s-resize;
                -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
                transition: all 0.5s;

                &:hover {
                    color: #ffcc00;
                }
            }
        }
    }
}